################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProcessadorDeMensagem/v15
/ProcessadorDeMensagem/bin/Debug/netcoreapp2.1
/ProcessadorDeMensagem/obj
